h1 { 
    color: darkblue;
}

#addDiv {
    box-sizing: border-box;
    width: 275px;
    margin: 0px;
    border: 4px solid rgb(224, 94, 174);

}
form {
    background-color: rgb(224, 94, 174);
    margin: 0px;
    padding: 10px;
    /* margin: 20px; */

}
ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
  }


BUTTON {
    font-size: 8px;
    display: inline-block;
    /* margin-right: 12px;
    margin-left: 12px; */
}

.complete {
    margin-left: 4px;
    
}
.completedItem {
    color: gray;
    text-decoration-line: line-through;
}

.delete {
    margin-left: 4px;
}

